.calculator{
    width: 322px;
    height:500px;
    background:black;
    margin-left:400px;
    color: white;

}
#screen{
    width: 283px;
    margin-top: 37px;
    margin-left: 18px;
    height: 65px;
    font-size: 40px;
    border-width: 0px;
    background: black;
    border-color: black;
    pointer-events: none;
    color: white;
}
.buttons{
    width:328px;
    height:400px;
    margin-top: 29px;
    margin-left: 14px;


}
.button{
    width: 64px;
    height: 63px;
    margin: 3px;
    border-radius: 35px;
    border-width: 0px;
    
}